* {
  margin: 0;
  padding: 0;
  color: black;
  list-style-type: none;
  --primary_btn: rgba(255, 107, 107, 1);
  --bg_color: rgba(255, 247, 247, 1);
  font-family: "poppins", sans-serif;
}

/* Login */
.containerr {
  /* background-color: var(--bg_color); */
  background-image: url("../image/Login.png");
  background-position: 0;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerr .login {
  width: 40rem;
  text-align: center;
  height: 30rem;
  /* background-color: blue; */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  border: 2px solid black;
}

.containerr .login h1 {
  margin: 2rem 0 3.5rem 0;
}

.containerr .login input,
label {
  margin: 0 2rem 2.5rem 2rem;
  width: 90%;
}

.containerr .login .backbutton {
  display: inline-block;
  position: absolute;
  left: 490px;
  top: 150px;
}
