* {
  margin: 0;
  padding: 0;
  color: black;
  list-style-type: none;
  --primary_btn: rgba(255, 107, 107, 1);
  --bg_color: rgba(255, 247, 247, 1);
  font-family: "poppins", sans-serif;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  height: 3.5rem;
  align-items: center;
  box-shadow: 0px 1.4px 2px black;
}

.navbar a {
  text-decoration: none;
}

.navbar .navbar-left {
  font-size: 1.5rem;
  padding: 0;
  font-weight: bold;
  font-style: italic;
}
.navbar .navbar-left span {
  color: var(--primary_btn);
}

.navbar .navbar-middle ul li {
  display: inline-block;
  padding-left: 20px;
}
.navbar .navbar-middle ul {
  padding: 0;
  margin: 0;
}

.navbar .navbar-right ul li {
  display: inline-block;
  padding-left: 20px;
}

.navbar .navbar-right .btn-cart {
  border: none;
}
.navbar .navbar-right ul {
  padding: 0;
  margin: 0;
}

/* Login */
.containerr {
  width: 100%;
  /* height: 92dvh; */
  background-color: var(--bg_color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* main page */
/* top */
.containerr .top {
  /* background-color: blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
}
.containerr .top .laporan {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 3rem;
}
.containerr .top .laporan .pendapatanbulanan,
.pendapatanharian {
  border: 2px solid black;
  padding: 10px;
  border-radius: 20px;
  height: 5rem;
}

/* middle */
.containerr .middle {
  /* background-color: black; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.containerr .middle .orders {
  width: 80%;
  border: 2px solid black;
  border-radius: 15px;
}

/* bottom */
.containerr .bottom {
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
}
.containerr .bottom .order,
.ordercake {
  width: 40%;
  border: 2px solid black;
  border-radius: 20px;
}
