* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Portrait and Landscape (up to 480px) */
@media only screen and (max-width: 480px) {
  /* login */
  .containerr .login {
    width: 90dvw;
    height: 25rem;
  }

  .containerr .login input,
  label {
    margin: 0rem 1rem 2rem 1rem;
    width: 90%;
  }

  .containerr .login .backbutton {
    left: 50px;
    top: 290px;
  }

  /* register */
  .containerr .register {
    width: 90dvw;
  }

  .containerr .register input,
  label {
    margin: 0rem 1rem 2rem 1rem;
    width: 90%;
  }

  .containerr .register .backbutton {
    left: 50px;
    top: 250px;
  }
}

/* Tablet Landscape (769px to 1024px) */
@media only screen and (min-width: 700px) and (max-width: 768px) {
  .containerr .login .backbutton {
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 310px;
  }

  .containerr .register .backbutton {
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 310px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 820px) {
  .containerr .login .backbutton {
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 390px;
  }

  .containerr .register .backbutton {
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 390px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1024px) {
  .containerr .login .backbutton {
    display: inline-block;
    position: absolute;
    left: 250px;
    top: 490px;
  }

  .containerr .register .backbutton {
    display: inline-block;
    position: absolute;
    left: 250px;
    top: 490px;
  }
}
