* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Portrait and Landscape (up to 480px) */
@media only screen and (max-width: 480px) {
  /* navbar */
  .navbar {
    display: flex;
    width: 100dvw;
    justify-content: space-around;
    background-color: whitesmoke;
    height: 3.5rem;
    align-items: center;
    box-shadow: 0px 1.4px 2px black;
  }
  .navbar .navbar-left {
    font-size: 1.3rem;
  }

  .navbar .navbar-middle {
    position: fixed;
    display: inline-block;
    top: 3.6rem;
    right: -200px;
    background-color: rgba(255, 247, 247, 0.7);
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
    width: 150px;
    font-weight: bold;
    transition: right ease 0.5s;
    z-index: 999;
  }
  .navbar .navbar-middle.active {
    right: 0;
  }
  .navbar .navbar-middle ul {
    padding-left: 1rem;
  }
  .navbar .navbar-middle ul li {
    margin-top: 0.8rem;
    padding: 6px;
  }

  .navbar .navbar-right .signup {
    display: none;
  }
  .navbar .navbar-right .menu {
    display: block;
  }

  /* Riwayat */
  .containerr {
    width: 100dvw;
    height: 90dvh;
    margin-bottom: 0;
  }

  .containerr .historyshopping {
    width: 90dvw;
    height: 85dvh;
  }

  .containerr .containerproduct {
    height: 90%;
  }

  .containerr .historyshopping .containerproduct .product {
    width: 35%;
    height: 20rem;
    margin-top: 1rem;
    margin-left: 0rem;
    flex-direction: column;
    text-align: center;
  }
}

/* Mobile Landscape and Tablet Portrait (481px to 768px) */
@media only screen and (min-width: 481px) and (max-width: 700px) {
}

/* Tablet Landscape (769px to 1024px) */
@media only screen and (min-width: 700px) and (max-width: 1024px) {
}
